body {
    background-color: khaki;
    color: black;
}

h1 {
    font-family: 'Gill Sans', sans-serif;
    font-size: 36px;
    text-align: center;
}

h2 {
    font-family: 'Gill Sans', sans-serif;
    font-size: 28px;
}

p {
    font-family: 'Gill Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
} 

.column {
    flex: 1;
    padding: 10px;
}

@media (max-width: 600px) {
    .column {
      flex: 100%;

    }
}

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
}

.navbar {
display: flex;
justify-content: space-between;
width: 100%;
}

.brand {
display: flex;
align-items: center;
} 

li>a {
padding: 8px 24px;
} 

li {
list-style-type: none;
}

a {
color: white;
text-decoration:none;
}

.nav-links {
display: flex;
align-items: center;
}

.button-menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .column {
    flex: 100%;
} 
.nav-links {
    display: none;
} 

.button-menu-toggle {
    display: block;
    background-color: white;
    border:none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links.nav-links-responsive {
 position: absolute;
 display: flex;
 background-color: rgba(20,20,20,0.95);
 width: 100%;
 height: 100%;
 top: 70px;
 left: 0;
 flex-direction: column;
 padding-top: 200px;
 align-items: center;
 gap:70px;
 font-size: 40px;
}
}

.video {display: flex;
    justify-content: center;
}

@media (max-height: 200px) 
    {.footer {max-height: 200px}
}

.footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.main {
   text-align: center;
}

.imagenes {
    display: flex;
    flex-wrap: wrap;

}

.imagenes img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 5px;

}

.greeting {
    text-align: center;
}